{% extends 'base.html.twig' %}

{% block title %}{{ article.offre.getTitre }}{% endblock %}

{% block stylesheets %}
    {# Temporaire , added by akram #}
    <style>
        p.key{
            font-weight: bold;
            display: inline-block; 
            margin: 10px 20px auto 5px;
        }
        
        p.value{
            display: inline-block;
        }
    </style>
{% endblock %}

{% block body %}
<style>
    .container { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    s { background: #F5F5F5; padding: 2px 6px; }
</style>
    <h1 style="text-align:center">Offre Emploit</h1>
    <div class="container" >
        {# 🚧Pour l'info de l'entreprise🚧 #}
        <div style="border: 2px solid; margin: 10px auto 10px auto">
            <h3 style="text-decoration: underline;">Entreprise</h3>
            <p class="key">Entreprise:</p>
                <p class="value">{{ article.entreprise.getNom }}</p><br/>
            <p class="key">siteweb</p>
                <a  href="{{ article.entreprise.getSiteweb }}">{{ article.entreprise.getSiteweb }}</a><br/>
            <p class="key">ville</p>
                <p class="value">{{ article.entreprise.getVille }}</p><br/>
            <p class="key">pays</p>
                <p class="value">{{ article.entreprise.getPays }}</p><br/>

            <p style="font-weight: bold; margin: 40px 20px 10px 5px;">Description de l'entreprise:</p>
                <p>{{ article.entreprise.getDescription }}</p>

        </div>
        {# 🚧Pour l'info de l'annonce🚧 #}
        <div style="border: 2px solid;">
            <h3 style="text-decoration: underline;">Détails de l'annonce</h3>
            <p>{{ article.offre.getDescription }}</p>
        </div>
    </div>
{% endblock %}
